[submodule "demo-nft/lib/forge-std"]
	path = demo-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "demo-nft/lib/solmate"]
	path = demo-nft/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "demo-nft/lib/openzeppelin-contracts"]
	path = demo-nft/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "contracts/erc6551-reference"]
	path = contracts/erc6551-reference
	url = https://github.com/erc6551/reference
[submodule "contracts/test-nft/lib/forge-std"]
	path = contracts/test-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
